.card-style {
  border-radius: 20px !important;
  box-shadow: 10px 10px 5px 0px rgba(184, 173, 173, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(184, 173, 173, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(184, 173, 173, 0.75);
  height: 150px;
}

.card-style2 {
  border-radius: 20px !important;
  box-shadow: 10px 10px 5px 0px rgba(184, 173, 173, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(184, 173, 173, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(184, 173, 173, 0.75);
}

.image-style {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
